



<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1><%= @user.nombre %></h1></div>
    </div>
    <div class="row">
  	    <div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Sube una foto...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div></hr><br>

            
          
          
          <ul class="list-group">
            <li class="list-group-item text-muted">Actividad del blog <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Articulos</strong></span> <%= @user.articles.count %></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Comentarios</strong></span> <%= @user.comments.count %></li>
            </ul> 

            <ul class="list-group">
                <li class="list-group-item text-muted">Lista de comentarios <i class="fa fa-dashboard fa-1x"></i></li>

                <li class="list-group-item text-muted"><%= render 'shared/listac', obj: @user.comments %><i class="fa fa-dashboard fa-1x"></i></li>
            </ul> 
               
          
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
        <div class="row">
        <div class="col-md-6">
            <label>Nombre completo</label>
        </div>
        <div class="col-md-6">
            <%= @user.nombre %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Email</label>
        </div>
        <div class="col-md-6">
            <%= @user.email %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Ciudad</label>
        </div>
        <div class="col-md-6">
            <%= @user.ciudad %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Cerveza</label>
        </div>
        <div class="col-md-6">
            <%= @user.cerveza_fav %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Fecha de nacimiento</label>
        </div>
        <div class="col-md-6">
            <%= @user.fecha_nacimiento %>
        </div>
    </div>
    <h4 align="center">Articulos creados </h4>

    <%= render 'shared/article', obj: @user.articles %>

    <h4 align="center">Ultimos 3 comentarios creados </h4>
    <%= render 'shared/comment', obj: @user.comments %>
              
            
        </div><!--/col-9-->
    </div><!--/row-->
    
